.jumbotron {
    background-color: black;
    color: white;
}
.input-group-text {
    display: flex;
    width: 100px;
    text-align: center;
    justify-content: center;
    color: white;
}
.btn {
    width: 100px;
}
#form-control {
    display: flex;
    height: 100px;
    width: 60%;
}
footer {
    height: 40px;
}